/* myCV.css */

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 0;
    color: #333;
    background-color: aliceblue;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: blue;
    text-decoration: none;
}



/* Header Styles */
header {
    background-color: #000100;
    color: #F8F8F8;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: 0; 
    justify-content: 0;
}

.profile-photo {
    border-radius: 60%;
    margin-right: 10px;
    width: 200px;
    height: 250px;
}

.personal-info {
    max-width: 600px;
    margin-right: 800px;
}

blockquote {
    font-style: italic;
    color: #A1A6B4;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}



/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #A1A6B4;
    color: #fff;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}